@charset "UTF-8";
/* CSS Document */

body {
	background-color:#000;
	font-family:Arial, Helvetica, sans-serif;
	color:#FFF;
	margin:0;
	padding:0;
}

h1 {
	color:#fff;
	font-size:16px;
	font-weight:normal;
	text-transform: uppercase;
	letter-spacing: .2em;
}

h2 {
	font-size:14px;
	color:#fff;
	font-weight:normal;
	letter-spacing: .15em;
	padding-bottom:10px;
}

h3 {
	font-size:13px;
	color:#8bb1cf;
	font-weight:normal;
	text-transform: uppercase;
	letter-spacing: .15em;
}

h4, h4 a{
	font-size:11px;
	color:#8bb1cf;
	font-weight:normal;
	letter-spacing: .15em;
}

h4 a:hover {
	color: #fff;
}

p {
	font-size:11px;
	letter-spacing: .1em;
	line-height: 1.5em;
}

a {
	color:#999;
	text-decoration:none;}

a:hover {
	color:#666;
}

ul {
}

li {
	font-size:11px;
}

img {
	border:none;
}

hr {
	border:none;
	border-bottom:#8bb1cf 1px solid;
	height:1px;
}

#container {
	background: url(../images/bh-us-11-masthead-wht-text.jpg) top no-repeat;
	width:800px;
	margin:0 auto;
	padding-left:25px;
}

#containerAD {

	width:800px;
	margin:0 auto;
	padding-left:25px;
}

#container-vt {
	background: url(../images/bh-us-11/bh-us-11-masthead-vt.jpg) top no-repeat;
	width:800px;
	margin:0 auto;
	padding-left:25px;
}

#headerUS {
          text-align:left;
}

#headerAD {
	background: url(../images/bh-ad-11/bh-ad-11-header.jpg) no-repeat center;
	width:750px;
	height:296px;
	margin:0;
	padding:0;
}
        

#headerAS {
	background:url(../images/as2010/bh-as10-head.png) no-repeat;
	width:800px;
	height:220px;
	background-position:center;
	margin:0;
	padding:0;
}

#headerWEBCAST {
	background:url(../images/webcast/bh-webcast-head.png) no-repeat;
	width:800px;
	height:220px;
	background-position:center;
	margin:0;
	padding:0;
}

#headerUPLINK {
	background:url(../images/uplink/bh-uplink-head.png) no-repeat;
	width:800px;
	height:240px;
	background-position:center;
	margin:0;
	padding:0;
}

#headerVIRTUAL {
	background:url(../images/virtual2009/bh-virtual09-head.png) no-repeat;
	width:800px;
	height:220px;
	background-position:center;
	margin:0;
	padding:0;
}



/* ------------- MAIN NAVIGATION ----------- */

#nav {
	font-size: .8em;
	letter-spacing: .16em;
	width:800px;
	height:40px;
	margin:0 0 0 0;
	padding:15px 0 0 0;
	vertical-align:text-bottom;
	font-variant:small-caps;
	border-bottom:#8bb1cf 1px solid;
}

#nav a {
	font-size: 1.1em;
	color:#8bb1cf;
}

#nav a:hover {
	color:#FFF;
}




#navDC {
	font-size: .8em;
	letter-spacing: .16em;
	width:800px;
	height:40px;
	margin:0 0 0 0;
	padding:15px 0 0 0;
	vertical-align:text-bottom;
	font-variant:small-caps;
	border-bottom:#333 1px solid;
}

#navDC a {
	font-size: 1.1em;
	color:#0F0;
}

#navDC a:hover {
	color:#090;
}



/* ------------- ANCILLARY NAVIGATION ----------- */


#navGRAYLIST {
	width:130px;
	height:0;
	float:left;
	margin:0 0 0 0;
	padding:10px 20px 0 0;
}

#navSOCIAL {
	font-size:11px;
	color:#8bb1cf;
	background-color:#000;
	width:120px;
	height:180px;
	margin:-10px 0 0 0;
	padding:0 0 0 15px;
	float:right;
	line-height: 2em;
	letter-spacing: .25em;
}

#navSOCIAL a {
	color:#FFF;
}

#navSOCIAL a:hover {
	color:#8bb1cf;
}






#navSOCIALDC {
	font-size:11px;
	color:#0F0;
	background-color:#000;
	width:120px;
	height:180px;
	margin:-10px 0 0 0;
	padding:0 0 0 15px;
	float:right;
	line-height: 2em;
	letter-spacing: .25em;
}

#navSOCIALDC a {
	color:#FFF;
}

#navSOCIALDC a:hover {
	color:#333;
}


#schedNavFoot
{
	width: 1025px;
	font-size: .8em;
	letter-spacing: .16em;
	color:#FFF;
	text-align:left;
	font-variant:small-caps;
}



#navFOOT {
	width: 1025px;
	font-size: .8em;
	letter-spacing: .16em;
	color:#FFF;
	text-align:left;
	font-variant:small-caps;
}

#navFOOT a {
	font-size: 1.1em;
	color:#8bb1cf;
	font-weight:normal;
}

#navFOOT a:hover {
	color:#FFF;
}






#navFOOTDC {
	width:100%;
	font-size: .8em;
	letter-spacing: .16em;
	color:#FFF;
	text-align:left;
	font-variant:small-caps;
}

#navFOOTDC a {
	font-size: 1.1em;
	color:#0F0;
	font-weight:normal;
}

#navFOOTDC a:hover {
	color:#090;
}









#sidepanel {
	width:150px;
	height:650px;
	background:url(../images/sidepanelBG2011-w-bar.png) no-repeat;
	float:left;
	margin:0 0 0 0;
	padding:10px 0 0 0;
}

#sidepanelUS {
	text-align:center;
	width:150px;
	height:650px;
	background:url(../images/sidepanelBG2011.png) no-repeat;
	float:left;
	margin:0 0 0 0;
	padding:4px 0 0 0;
}

#sidepanelDC11 {
	width:150px;
	height:550px;
	background:url(../images/gunmetal-sidepanelBG2011.png) no-repeat;
	float:left;
	margin:0 0 0 0;
	padding:10px 0 0 0;
}


#sidepanelEUHOME {
	width:150px;
	height:550px;
	background:url(../images/BHDC10-keynote-home.png) no-repeat;
	float:left;
	margin:0 0 0 0;
	padding:10px 0 0 0;
}

#sidepanelKEYNOTE {
	width:150px;
	height:550px;
	background:url(../images/BHUSA09-homeTILE-Keynote.png) no-repeat;
	float:left;
	margin:0 0 0 0;
	padding:10px 0 0 0;
}

#sidepanelKEYNOTEDC {
	width:150px;
	height:550px;
	background:url(../images/BHDC10-keynote.png) no-repeat;
	float:left;
	margin:0 0 0 0;
	padding:10px 0 0 0;
}

#sidepanelKEYNOTEUS {
	width:150px;
	height:550px;
	background:url(../images/BHUS10-keynote.png) no-repeat;
	float:left;
	margin:0 0 0 0;
	padding:10px 0 0 0;
}

#sidepanelKEYNOTEEU {
	width:150px;
	height:550px;
	background:url(../images/BHEU10-keynote_left.png) no-repeat;
	float:left;
	margin:0 0 0 0;
	padding:10px 0 0 0;
}

#sidepanelSPECIAL {
	width:150px;
	height:550px;
	background:url(../images/BHUS2010-specialevents.png) no-repeat;
	float:left;
	margin:0 0 0 0;
	padding:10px 0 0 0;
}


#sidepanel h2 {
	font-size:13px;
	color:#fff;
	font-weight:normal;
	letter-spacing: .15em;
}

#sidepanel h3 {
	font-size:11px;
	color:#8bb1cf;
	font-weight:normal;
	text-transform: uppercase;
	letter-spacing: .15em;
}

#sidepanel p {
	font-size:11px;
	letter-spacing: .1em;
	line-height: 1.6em;
}

#sidepanel a {
	color:#8bb1cf;
}

#sidepanel a:hover {
	color:#FFF;
}

.sidepanelCOPY {
	width: 115px;
	border-left:1px dotted #8bb1cf;
	margin:20px 0 0 0;
	padding:0 0 0 8px;
}

.sidepanelCOPY a {
	color:#8bb1cf;
	font-size:11px;
}

.sidepanelCOPY a:hover {
	color:#8bb1cf;
	
}

.sidepanelUSCOPY {
	width: 65px;
	border-left:1px dotted #8bb1cf;
	margin:20px 0 0 0;
	padding:0 0 0 8px;
}



/* ------------- MAIN CONTENT AREA ----------- */


#content {
	width:490px;
	margin:0 0 0 0;
	padding:10px 0 0 0;
	float:left;
}
/*
#contentADgrad {
	width:490px;
	margin:0 0 0 0;
	padding:10px 0 0 0;
	float:left;
	background: url(../images/bh-ad-10/ad-contentbg.png) repeat-x top #222;
}
*/

#contentHomeUS
{
    width:640px;
	margin:0 0 0 0;
	padding:10px 0 0 0;
	float:left;
}

#content li {
	list-style-type: square;
}

#contentREG {
	width:490px;
	border-top: 1px dotted #333;
	margin:0 0 0 0;
	padding:10px 0 0 0;
}

#contentREG li {
	font-size:12px;
	margin:0 0 10px 0;
}


#contentSCHED {
	width:650px;
	margin:0 0 0 0;
	padding:10px 0 0 0;
	float:left;
}


#contentARCHIVES {
	width:490px;
	margin:0 0 0 0;
	padding:10px 0 0 0;
}

#contentARCHIVES img {
	width:40px;
	height:40px;
	border-top:19px #000 solid;
	border-right:10px #000 solid;
	border-bottom:10px #000 solid;
	float:left;
}


#contentARCHIVES li {
	list-style-type: square;
}

#contentREGTERMS {
	background:#000;
	color:#FFF;
	padding:12px;
}

#contentREGTERMS h3 {
	color:#777;
}

#contentREGTERMS li {
	color:#FFF;
}

#contentREGTERMS a {
	color:#8bb1cf;
}

#contentUS {
	width:600px;
	margin:0 0 0 0;
	padding:10px 0 0 0;
	float:left;
}

#contentUS li {
	list-style-type: square;
}

#contentAD {
	width:650px;
	margin:0 0 0 0;
	padding:10px 0 0 0;
	float:left;

}


.headcategory {
	font-size:30px;
	color:#fff;
	letter-spacing: .02em;
	padding-left:20px;
}



.oddbox {

}


.wireframemenu {
	border-top: 1px solid #C0C0C0;
	background-color: #333;
	width: 130px;
	padding: 0 0 0 0;
	margin: 0 0 0 0;
}

* html .wireframemenu { /*IE only rule. Original menu width minus all left/right paddings */
	width: 130px;
}

.wireframemenu ul {
	padding: 0;
	margin: 0 0 0 0;
	list-style-type: none;
}

.wireframemenu a {
	font:  10px Helvetica, Arial, sans-serif; 
	padding: 5px 2px 3px 10px; 
	display: block;
	width: 130px; /*Define width for IE6's sake*/ 
	color: #ffffff; 
	text-decoration: none; 
	border-bottom: 3px solid #000; 
}

html>body .wireframemenu a { /*Non IE rule*/ width: auto; }

.wireframemenu a:hover { 
	background-color: #8bb1cf; 
}


/* ------------UPLINK PAGE-------------- */

.clear {
	clear:both;
}

.right {
	float:right;
}

.listUPLINK li {
	color:#ffffff;
	line-height:2em;
	list-style-image:url(../images/uplink/asterix.png);
}

.redborder {
	border-right-color: #8bb1cf;
	border-right-style: solid;
	border-right-width: 2px;
	border-top: #8bb1cf solid 1px;
}

td.redborder
{
    width: 15%;
}

#contentUPLINK {
	left:0px;
	float: left ;
        margin:10px 0 10px 10px;
        border-bottom: 1px dotted #333333;
        padding-bottom:20px;
}

#contentUPLINKindent {
	padding:0 0 0 15px;
	border-left: #535353 dotted 1px;
}

#sidepanelUPLINK {
	width:270px;
	height:550px;
	background:url(../images/uplink/sidepanelUPLINKBG.jpg) no-repeat;
	float:right;
	margin:0 0 0 5px;
	padding:0 20px 0 45px;
	position: relative;
}

#navSOCIALUPLINK {
	font-size:11px;
	color:#8bb1cf;
	background: #000;
	position: absolute;
	top: 0;
	right: 0;
	width:120px;
	height:120px;
	margin:-10px 0 0 0;
	padding:0 0 0 15px;
	float:right;
	line-height: 2em;
	letter-spacing: .25em;
}

#navSOCIALUPLINK a{
	color:#fff;
}

#navSOCIALUPLINK a:hover{
	color:#8bb1cf;
}

.tdC {
	width:343px
}

table.hackerTable
{
    color: #ffffff;
}

table.hackerTable td
{
    width: 225px;
    font-size: 11px;
    padding: 4px 4px 4px 8px;
    border:1px #999 dotted;
}

div.hackerBio span
{
    font-size: 14px;
    color: #8bb1cf;
    display: block;
}

div.hackerBio a
{
    font-size: 12px;
}

table.UPLINK td, table.UPLINK a {
	color:#fff;
	font-size:11px;
}

table.UPLINK {
	width:794px;
} 

table.UPLINK td {
	padding: 3px 5px 3px 6px;
}

.timetableUPLINK{
	padding:7px 7px 7px 0px;
	background-color:#444;
	color:#fff;
	font-size:10px;
	border-right:dotted 1px #666666;
	width:40px;
	border-bottom:#000 solid 1px;
}

table.UPLINK td.HIGHLIGHT {
	background:url(../images/uplink/bh-uplink-trackhighlight.png) no-repeat;
	text-transform: uppercase;
}

table.UPLINK td.HIGHLIGHT a{
	color:#ccc;
}

.tdTRACK, tdTRACK a:hover{
	background-color:#8bb1cf;
	border-right-color: #000;
	border-right-style: solid;
	border-right-width: 2px;
	text-transform: uppercase;
	padding:8px;
}


.tdTRACK a{
	color:#ccc;
}

.scheduleoutside {	
	padding: 5px 0 0 5px;
	border:#8bb1cf solid 1px;
	margin: 10px 0 0 0;
}

.keynote{
	background:	url(../images/uplink/bh-uplink-verticalred.png) no-repeat;
	width:400px;
	height:30px;
	float:left;
	padding:  0 0 0 10px;
}

.breakUPLINK{
	color:#999;
	font-size:13px;
	letter-spacing:.5em;
	font-variant:small-caps;
}

/* ------------ARSENAL PAGE-------------- */
#sidepanelARSENAL {
	width:0px;
	height:0px;
	float:right;
	margin:0 0 0 5px;
	padding:0 20px 0 45px;
	position: relative;
}

.timetableARSENAL{
	padding:7px 0px 7px 0px;
	background-color:#444;
	color:#fff;
	font-size:10px;
	border-right:dotted 1px #666666;
	width:70px;
	border-bottom:#000 solid 1px;
}

/* CSS POP-UP BOX FOR SPEAKER BIO */

.thumbnail{
	position: relative;
	z-index: 0;
}

.thumbnail:hover{
	background-color: transparent;
	z-index: 50;
}

.thumbnail span{ /*CSS for enlarged image*/
	position: absolute;
	background-color: #333;
	width:450px;
	font-size:10px;
	padding:15px;
	left: -1000px;
	border: 1px solid #000;
	visibility: hidden;
	color: #ccc;
	font-weight:normal;
	line-height: 1.5em;
	letter-spacing: .15em;
}

.thumbnail span img{ /*CSS for enlarged image*/
	border: none;
	padding: 2px;
}

.thumbnail:hover span{ /*CSS for enlarged image on hover*/
	visibility: visible;
	top: -100px;
	left: 150px; /*position where enlarged image should offset horizontally */
}

.thumbnail:focus span{ /*CSS for enlarged image on hover*/
	visibility: visible;
	top: -100px;
	left: 150px; /*position where enlarged image should offset horizontally */
}


#speakerbio h2{
	color:#777;
	font-size:14px;
	font-variant:small-caps;
	text-transform:lowercase;
	margin:0;
}


#speakerbio h3{
	font-size:13px;
	color:#8bb1cf;
	font-weight:normal;
	text-transform: uppercase;
	letter-spacing: .15em;
	margin-bottom:4px;
}


.biobox {
	font-size:12px;
	font-weight:normal;
	padding:8px;
	background-color:#333;
	margin-bottom:20px;
}

.biobox h2 {
	font-size:14px;
	font-weight:bold;
	line-height: .5em;
	color:#fff;
}

.biobox h3 {
	font-size:12px;
	font-weight:normal;
	color:#8bb1cf;
	text-transform: none;
	line-height: 1.2em;
	letter-spacing: .15em;
}

.biobox a {
	color:#ccc;
}

.biobox a:hover {
	color:#8bb1cf;
}

.bioboxKEYNOTE{
	background-color:#111;
	font-size:11px;
	font-weight:normal;
	padding:8px;
	margin:0;
	border-left:1px dotted #333;
}

.bioboxKEYNOTE p{
	font-size:12px;
	padding-left:8px;
}

.list li {
	color:#999;
	line-height:2em;
}

.regList li {
	color:#999;
	line-height:.75em;
}

.gray {
	color:#777777;
}




/* OLD BLACK HAT STYLES **********/


.small      { font-size: .8em; margin-bottom: 1.875em; line-height: 1.875em; }
.large      { font-size: 1.2em; line-height: 2.5em; margin-bottom: 1.25em; }
.quiet      { color: #666; }
.black	    { font-size:.8em; line-height:14px; color:#666; }
.mediaspeakerlist	    { font-size:.9em; line-height:20px; color:gray; }
.mediaspeakerlist	a    { font-size:.9em; line-height:20px; color:gray; }
.black span	{ font-size:1.1em; line-height:20px; color:#fff;  font-weight:bold; text-align:center;}
.hide       { display: none; }
.highlight  { background:#99ccff;color:black;font-weight:bold; }
.added      { color:#060; }
.removed    { color:#900; }

.top        { margin-top:0; padding-top:0; }
.bottom     { margin-bottom:0; padding-bottom:0; }
		
p.smhdr  	{	background: transparent url(images/headlinebackground.jpg)  repeat 0 0; color:#fff; padding:2px 4px 2px 2px;	}
p.quiet     { color: #000; }
p.black		{ font-size:.6em; line-height:14px; color:#999; }
p.black	span  { font-size: 12px; line-height:14px; font-weight:bold; }
p.subhead   { font-size: 12px; line-height:14px; font-weight:bold; text-align:left; }
p.subhead span { font-size: 12px; line-height:14px; font-weight:bold; color:#99ccff; }
p.turbo     { font-size: .75em;  text-align:left; }
p.turbo span { font-size: .75em;  font-weight:bold; color:#99ccff; }
p.smallred  { font-size:.8em;color:#cc3333;}
p.smallblue { font-size:.8em;color:#99ccff; text-align:left;}
.hide       { display: none; }

/************ END */

/* TRAINING STYLE **************/

#pricing{
  text-align:left;
  font-size:11px;
  letter-spacing: .1em;
  line-height: 1.5em;
}

.trainLEAD {
	color:#8bb1cf;
	font-size:11px;
	text-transform:uppercase;
	letter-spacing:.2em;
}

.trainENTRY {
	color:#FFF;
	font-size:11px;
	text-transform:uppercase;
	letter-spacing:.1em;
	line-height:3em;
}

.trainENTRY td{
	border-bottom:1px #222 dotted;
}

.category a {
	color:#8bb1cf;
}

.category a:hover {
	color:#8bb1cf;
}

.legend {
	color:#fff;
	font-size:11px;
	padding:5px;
}

.legend td {
	background-color:#111;
	color:#fff;
	font-size:12px;
	height:20px;
	padding:10px;
	width: 165px;
}

.traininglist {}

.traininglist img{
	float:right;
}

.traininglist a {
	font-size:14px;
	color:#8bb1cf;
	letter-spacing: .1em;
}


.traininglistWEEKDAY {
	background-color:#111;
	border-left:1px dotted #8bb1cf;
	border-right:9px solid #009933;
	padding:6px 18px 8px 8px;
}

.traininglistWEEKEND {
	background-color:#111;
	border-left:1px dotted #8bb1cf;
	background-position:top left;
	border-right:9px solid #4145ff;
	padding:6px 18px 8px 8px;
}

.traininglistDAYWKD {
	background-color:#111;
	border-left:1px dotted #8bb1cf;
	background-image:url(../images/greenbar.gif);
	background-position:top left;
	border-right:9px solid #4145FF;
	padding:6px 25px 8px 8px;
}

.traininglist1DAY {
	background-color:#111;
	border-left:1px dotted #8bb1cf;
	border-right:9px solid #d95e00;
	padding:6px 18px 8px 8px;
}

.traininglist2-1DAY
{
    background-color:#111;
	border-left:1px dotted #8bb1cf;
	background-image:url(../images/dbl-orange-bar.png);
	background-position:top left;
	padding:6px 25px 8px 8px;
}


.traininglist4DAY {
	background-color:#111;
	border-left:1px dotted #8bb1cf;
	background-position:top left;
	border-right:9px solid #f2ff1a;
	padding:6px 18px 8px 8px;
}

.traininglistVirtual {
	background-color:#111;
	border-left:1px dotted #8bb1cf;
	border-right:9px solid #8bb1cf;
	padding:6px 18px 8px 8px;
}

.traininglistSOLDOUT {
	border-left:1px dotted #8bb1cf;
	background-image:url(../images/soldoutbar.gif);
	background-position:top left;
	padding:6px 100px 8px 8px;
	color:#444;
	font-style:italic;
}

.traininglistCANCEL {
	border-left:1px dotted #8bb1cf;
	background-image:url(../images/cancelbar-grn.gif);
	background-position:top left;
	padding:6px 100px 8px 8px;
	color:#444;
	font-style:italic;
}


/* SCHEDULE STYLE **************/

.SCHEDtable {
	background-color:#333;
	width:1025px;
}


.SCHEDtable td {
	vertical-align:text-top;
}

.SMALLSCHEDtable {
	background-color:#333;
	width:800px;
}

.SMALLSCHEDtable td {
	vertical-align:text-top;
}

.dayheader {
	font-size:35px;
	color:#fff;
	letter-spacing: .02em;
	border-bottom:1px dotted #8bb1cf;
	padding:0 0 10px 0;
	width: 1025px;
}


.daytitle {
	font-size:25px;
	color:#8bb1cf;
	letter-spacing: .5em;
	padding:0 0 10px 0;
}

.dayheader2Cont
{
	width: 1025px;
}

.daysuper {
	color:#8bb1cf;
	font-size:12px;
	position:relative;
	bottom:18px;
}

.daysuperbracket {
	color:#8bb1cf;
	font-size:16px;
	position:relative;
}

.tdA{
	color:#fff;
	font-size:11px;
	padding:8px;
	background-color:#666;
}


.tdA a{
	color:#ccc;
}


.tdA a:hover{
	color:#fff;
}


.tdB{
	color:#fff;
	font-size:11px;
	padding:8px;
	background-color:#777;
}

.tdB a{
	color:#ccc;
}


.tdB a:hover{
	color:#fff;
}


.timetable{
	padding:7px;
	background-color:#444;
	color:#fff;
	font-size:10px;
	border-right:dotted 1px #666666;
}


.SMALLtimetable{
	padding:10px;
	background-color:#444;
	color:#fff;
	font-size:12px;
	border-right:dotted 1px #666666;
}

.break{
	padding:10px;
	color:#999;
	font-size:13px;
	letter-spacing:.5em;
	font-variant:small-caps;
}

.break img{
	padding-left:20px;
}

.oversize {
	font-size:36px;
	color:#FFF;
	padding-left:10px;
}

.wht{
	font-size:13px;
	color:white;
}

.SCHEDbox {
	color:#999;
	padding:10px;
	background-color:#333;
}

.SCHEDbox h2 {
	font-size:14px;
	font-weight:bold;
	line-height: .5em;
	color:#fff;
}

.SCHEDbox h3 {
	font-size:12px;
	font-weight:normal;
	color:#8bb1cf;
	text-transform: none;
	line-height: 1.2em;
	letter-spacing: .15em;
}

.SCHEDbox p {
	color:#999;
	font-size:12px;
	font-weight:normal;
	line-height: 1em;
}

.SCHEDbox a {
	color:#fff;
}

.SCHEDbox a:hover {
	color:#8bb1cf;
}

.SCHEDbox img {
	color:#ccc;
}



/* SPONSOR PAGE *****************/
 

#sponsor {
	width:800px;
}

.logos img {
	padding:0 0 0 0;
	margin:10px 30px 10px 0;
}


/************ END */


/* VENUE PAGE *****************/
 

#venuecontent {
}

#venuecontent li {
	color:#FFF;
	font-size:11px;
	letter-spacing:.1em;
	line-height:2em;
}

.venueLEAD {
	color:#8bb1cf;
	font-size:11px;
	text-transform:uppercase;
	letter-spacing:.2em;
}

.venueENTRY {
	color:#FFF;
	font-size:11px;
	text-transform:uppercase;
	letter-spacing:.1em;
}



/************ END */



/* HOME PAGE *****************/
 

#homecontent {
	width:100%;
}

#homecontent h2 {
	font-size:20px;
	font-variant:small-caps;
	letter-spacing:.1em;
	padding:0 0 0 15px;
	margin:8px 0 0 0;
}

#homecontent a {
	color:#8bb1cf;
}

#homecontent a:hover {
	color:#8bb1cf;
}

#homecontent li {
	color:#FFF;
	letter-spacing:.1em;
	line-height:1.5em;
}

#homecontent li a {
	color:#FFF;
	letter-spacing:.1em;
	line-height:1.5em;
}

.homeBOX {
/*	background-image:url(images/HOMEBOX-back.png);
	background-position:top left;
	background-repeat:no-repeat;
*/	
	padding:0;
	margin:0;
	font-size:18px;
	font-variant:small-caps;
	letter-spacing:.25em;	
}

.homeDIV {
	width:245px;
	background-image:url(../images/HOMEDIV-back.png);
	background-position:top left;
	background-repeat:no-repeat;
	border-left:1px #8bb1cf dotted;
	padding:5px 10px 5px 5px;
}


.homeSUB li a {
	color:#FFF;
	font-size:11px;
	letter-spacing:.1em;
	line-height:2em;
}

.homeHOTEL {
	width:200px;
	height:150px;
	margin:0;
	padding:0;
	color:#8bb1cf;
	font-variant:small-caps;
}

.homeSUB ul {
	background:#000;
	border-left:1px dotted #333;
	border-right:6px solid #550000;
	margin:20px 10px 10px 0;
	padding:7px 0px 7px 25px;
}


.homeSUB li {
	color:#FFF;
	font-size:11px;
	letter-spacing:.1em;
	line-height:2em;
}

div.homeSUB p
{
    width:275px;
}



/* CSS POP-UP BOX FOR HOME TILES */

.homethumbnail{
	position: relative;
	margin-right:10px;
	z-index: 0;
}

.homethumbnail:hover{
	background-color: transparent;
	z-index: 50;
}

.homethumbnail span{ /*CSS for enlarged image*/
	position: absolute;
	background-color: #000;
	width:400px;
	left: -1000px;
	visibility: hidden;
	color: #8bb1cf;
}

.homethumbnail span img{ /*CSS for enlarged image*/
	border-width: 0;
	padding: 2px;
}

.homethumbnail:hover span{ /*CSS for enlarged image on hover*/
	float:right;
	position:relative;
	visibility: visible;
	top: 20px;
	left: -105px;

	 /*position where enlarged image should offset horizontally */
}



.homePOPTILE {
	text-align:left;
	background-color:#000;
	margin:0;
	padding:0;
}

.homePOPTILE h1 {
	font-size:24px;
	font-variant:small-caps;
	color:#8bb1cf;
	letter-spacing:.25em;
	margin:0;
	padding-left:15px;
}

.homePOPTILE h3 {
	font-size:16px;
	font-weight:normal;
	font-variant:small-caps;
	color:#8bb1cf;
	letter-spacing:.05em;
	margin:0;
	padding:0;
}

.homePOPTILE p {
	color:#fff;
	font-size:11px;
	margin:0;
	padding-left:15px;
}

.homePOPTILE a {
	color:#ccc;
}

.homePOPTILE a:hover {
	color:#8bb1cf;
}

.white {
	color:#fff;
}

.blue {
	color:#8bb1cf;
}

.blue {
	color:#8bb1cf;
}

.blood {
	color:#990000;
}

.us11Green {
	color:#8bb1cf;
}

.dropcapNAME1 {

margin:0px 0px 0px 0px;
color: #666;
width: 500px;
font-size: 20px;
font-family:arial;
font-weight:bold;
font-variant:small-caps;
line-height:.75em;
}

.dropcapNAME2 {
float: left;
margin:0px 0px 0px 0px;
padding: 10px 0px 20px 0px;
color: #666;
width: 200px;
height:90px;
font-size: 45px;
font-family:arial;
font-weight:bold;
font-variant:small-caps;
line-height:.75em;
}


.dropcapBIO {
float: left;
margin:0px 0px 0px 0px;
padding: 10px 30px 0px 0px;
color: #666;
width: 100px;
height:50px;
font-size: 45px;
font-family:arial;
font-weight:bold;
font-variant:small-caps;
line-height:.75em;
}



/************ END */